<table class="table table-hover">
	<thead>
		<tr>
			<th>Site</th>
			<th>Pending</th>
			<th>Completed</th>
			<th>Warning</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var lcfs in Model.LogCountForSiteList)
		{
			<tr>
				<td><a href="#" class="my-dashboard-log-list-by-site" data-log-type="_MySiteLogs" data-site-id="@lcfs.SiteId" data-site-name="@lcfs.SiteName">@lcfs.SiteName</a></td>
				<td>@lcfs.TotalPending</td>
				<td>@lcfs.TotalCompleted</td>
				<td>@lcfs.TotalWarning</td>
			</tr>
		}
	</tbody>
</table>