@model eCoachingLog.ViewModels.MyDashboardViewModel

<h2 class="ecl-page-header">My Dashboard</h2>
<input type="hidden" name="whatlog" id="whatlog" />

<div class="alert alert-info alert-dismissible fade in">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	You have <span id="my-pending-total">@Model.MyTotalPending</span> pending logs that require your action.
</div>
<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="chart-container">
				<canvas id="myBar"></canvas>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-green">
			<div class="panel-heading">
				<strong>Click View to see log list&nbsp;</strong>
			</div>
			<div class="panel-body">
				@{ Html.RenderPartial("_CountByTeam"); }
			</div>
		</div>
	</div>
</div>

<div class="alert alert-success" id="div-success-msg">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<span id="label-success-msg"></span>
</div>

<div class="alert alert-danger" id="div-error-msg">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<span id="label-error-msg"></span>
</div>

<!-- Display My Pending by default -->
<div id="div-log-list">
	@*@{Html.RenderPartial("_MyPending", Model); }*@
</div>

<script>
	var getDefault = '@Url.Action("Default", "MyDashboard")';
	var getLogListUrl = '@Url.Action("GetLogs", "MyDashboard")';
	var saveUrl = '@Url.Action("Save", "Review", "MyDashboard")';
	var getLogDetailsUrl = '@Url.Action("GetLogDetail", "LogBase")';
	var loadDataUrl = '@Url.Action("LoadData", "LogBase")';

	var getChartData = '@Url.Action("GetChartData", "MyDashboard")';
	var searchUrl = '@Url.Action("Search", "MyDashboard")';

	var isChartBySite = '@Model.IsChartBySite';
</script>

@Scripts.Render("~/bundles/scripts/dashboard")
@Scripts.Render("~/bundles/scripts/eclChart")


