@model eCoachingLog.ViewModels.MyDashboardViewModel
<div class="ecl-page-header">My Dashboard 
	<span class="pull-right" style="font-size: 0.8em;">@Html.DropDownListFor(x => x.SelectedMonthYear, Model.Months, new { @id = "ddl-month" })</span>
</div>
<div id="div-dashboard-director">
	@{ Html.RenderPartial("_DefaultDirectorBottom"); }
</div>

<script>
	var getLogListUrl = '@Url.Action("GetLogs", "MyDashboard")';
	var getChartData = '@Url.Action("GetChartData", "MyDashboard")';
	var getDataByMonth = '@Url.Action("GetDataByMonth", "MyDashboard")';

	var searchUrl = '@Url.Action("Search", "MyDashboard")';
</script>

@Scripts.Render("~/bundles/scripts/dashboard")

