@model eCoachingLog.ViewModels.MyDashboardViewModel
<div class="row">
	<form class="form-inline pull-right" id="form-search-mydashboard">
		@Html.HiddenFor(m => m.Search.LogType)
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.StatusId, Model.WarningStatusSelectList, new { id = "select-status", @class = "form-control" })
		</div>

		<div class="form-group">
			<div class="input-group date">
				@Html.TextBoxFor(m => m.Search.SubmitDateFrom, new { @class = "form-control" })
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group date">
				@Html.TextBoxFor(m => m.Search.SubmitDateTo, new { @class = "form-control" })
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>

		<button type="button" class="btn btn-info" id="btn-search">
			<span class="glyphicon glyphicon-search"></span> Go
		</button>
	</form>
</div>
<div class="clearfix"></div>

<script src="@Url.Content("~/Scripts/eCoachingLog/dateTimePicker.js")"></script>
