<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">@Model.FormName</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-lg-4">
            <ul class="list-group" style="font-size: smaller;">
                <li class="list-group-item list-group-item-info"><strong>Status:</strong> @Model.Status</li>
                <li class="list-group-item list-group-item-info"><strong>Date Submitted:</strong> @Model.CreatedDate</li>
                <li class="list-group-item list-group-item-info"><strong>Type:</strong> @Model.Type</li>
                <li class="list-group-item list-group-item-info"><strong>Date of Event:</strong> @Model.EventDate</li>
                <li class="list-group-item list-group-item-info"><strong>Source:</strong> @Model.Source</li>
                <li class="list-group-item list-group-item-info"><strong>Site:</strong> @Model.EmployeeSite</li>
            </ul>

            @if (Model.IsVerintMonitor)
            {
                <ul class="list-group" style="font-size: smaller;">
                    <li class="list-group-item list-group-item-info"><strong>Verint ID:</strong> @Model.VerintId</li>
                    <li class="list-group-item list-group-item-info"><strong>Scorecard Name:</strong> @Model.VerintFormName</li>
                    <li class="list-group-item list-group-item-info"><strong>Coaching Monitor:</strong> @Model.CoachingMonitor</li>
                </ul>
            }

            @if (Model.IsBehaviorAnalyticsMonitor)
            {
                <ul class="list-group" style="font-size: smaller;">
                    <li class="list-group-item list-group-item-info"><strong>Avoke ID:</strong> @Model.BehaviorAnalyticsId</li>
                </ul>
            }

            @if (Model.IsNgdActivityId)
            {
                <ul class="list-group" style="font-size: smaller;">
                    <li class="list-group-item list-group-item-info"><strong>NGD Activity ID:</strong> @Model.NgdActivityId</li>
                </ul>
            }

            @if (Model.IsUcid)
            {
                <ul class="list-group" style="font-size: smaller;">
                    <li class="list-group-item list-group-item-info"><strong>Universal Call ID:</strong> @Model.Ucid</li>
                </ul>
            }

            <ul class="list-group" style="font-size: smaller;">
                <li class="list-group-item list-group-item-info"><strong>Employee:</strong> @Model.EmployeeName</li>
                <li class="list-group-item list-group-item-info"><strong>Supervisor:</strong> @Model.SupervisorName</li>
                <li class="list-group-item list-group-item-info"><strong>Reassigned Supervisor:</strong> @Model.ReassignedSupervisorName</li>
                <li class="list-group-item list-group-item-info"><strong>Manager:</strong> @Model.ManagerName</li>
                <li class="list-group-item list-group-item-info"><strong>Reassigned Manager:</strong> @Model.ReassignedManagerName</li>
                <li class="list-group-item list-group-item-info"><strong>Submitter:</strong> @Model.SubmitterName</li>
            </ul>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
            <div class="panel-group" id="accordion-reasons">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-reasons" data-target="#collapse-reasons">
                        <h4 class="panel-title accordion-toggle">
                            Coaching Reason(s):
                        </h4>
                    </div>
                    <div id="collapse-reasons" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Reasons</th>
                                      <th>Sub-Reasons</th>
                                      <th>Values</th>
                                  </tr>
                              </thead>
                              <tr>
                                  <td>@Html.Raw(@Model.Reasons)</td>
                                  <td>@Html.Raw(@Model.SubReasons)</td>
                                  <td>@Html.Raw(@Model.Value)</td>
                              </tr>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panael-group -->
            <div class="panel-group" id="accordion-behavior">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-behavior" data-target="#collapse-behavior">
                        <h4 class="panel-title accordion-toggle">
                            Details of the behavior being coached:
                        </h4>
                    </div>
                    <div id="collapse-behavior" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.Raw(@Model.Behavior)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panael-group -->
            <div class="panel-group" id="accordion-notes">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-notes" data-target="#collapse-notes">
                        <h4 class="panel-title accordion-toggle">
                            Coaching Notes:
                        </h4>
                    </div>
                    <div id="collapse-notes" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.Raw(@Model.CoachingNotes)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panael-group -->
            <div class="panel-group" id="accordion-employee-review-info">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-employee-review-info" data-target="#collapse-employee-review-info">
                        <h4 class="panel-title accordion-toggle">
                            Employee Review Information:
                        </h4>
                    </div>
                    <div id="collapse-employee-review-info" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Model.EmployeeName
                            <br />
                            Reviewed and acknowledged on: @Model.EmployeeReviewDate
                        </div>
                    </div>
                </div>
                <!-- /.panael -->
            </div>
            <!-- /.panael-group -->
            <div class="panel-group" id="accordion-employee-comment">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-employee-comment" data-target="#collapse-employee-comment">
                        <h4 class="panel-title accordion-toggle">
                            Employee Comments/Feedback Information:
                        </h4>
                    </div>
                    <div id="collapse-employee-comment" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.Raw(@Model.EmployeeComments)
                        </div>
                    </div>
                </div>
                <!-- /.panael -->
            </div>
            <!-- /.panel-group -->
            <div class="panel-group" id="accordion-supervisor-review">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-supervisor-review" data-target="#collapse-supervisor-review">
                        <h4 class="panel-title accordion-toggle">
                            Supervisor Review Information:
                        </h4>
                    </div>
                    <div id="collapse-supervisor-review" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.Raw(@Model.SupervisorName)
                            <br />
                            Reviewed and acknowledged on: @Model.SupReviewedAutoDate
                        </div>
                    </div>
                </div>
                <!-- /.panael -->
            </div>
            <div class="panel-group" id="accordion-manager-review">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-manager-review" data-target="#collapse-manager-review">
                        <h4 class="panel-title accordion-toggle">
                            Manager Review Information:
                        </h4>
                    </div>
                    <div id="collapse-manager-review" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Model.ManagerName
                            <br />
                            Reviewed and acknowledged on: @Model.MgrReviewManualDate
                        </div>
                    </div>
                </div>
                <!-- /.panael -->
            </div>
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.modal-body -->