@{
    ViewBag.Title = "Manage Employee Logs";
    var isBySingleLogName = false;
}

<div class="page-header">
    <h3>@ViewBag.SubTitle</h3>
</div>

<!-- Search Form -->
@using (Ajax.BeginForm("SearchForInactivate", "EmployeeLog", FormMethod.Post,
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "search-result",
        OnBegin = "processSearchOnBegin",
        OnComplete = "processSearchOnComplete"
    },
    new { id = "form-search", @class = "form-inline" }
))

{

    { Html.RenderPartial("_SearchOption", "Search by Log Type, Employee Level, and Employee"); }
    <br />
    <div class="" id="div-search-by-default">
        <div class="form-group">
            @Html.DropDownList( "logType", (SelectList)ViewBag.LogTypes, new { @class = "form-control" })
            <div id="type-error-msg" class="field-validation-error"></div>
        </div>

        <div class="form-group">
            @Html.DropDownList( "module", (SelectList)ViewBag.Modules, new { @class = "form-control" })
            <div id="module-error-msg" class="field-validation-error"></div>
        </div>

        <div class="form-group">
            @Html.DropDownList( "employee", (SelectList)ViewBag.Employees, new { @class = "form-control" })
            <div id="employee-error-msg" class="field-validation-error"></div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="btn-search">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Search
            </button>
        </div>
    </div>

    <div class="hidden" id="div-search-by-logname">
        @{Html.RenderPartial("_SearchByLogName", isBySingleLogName);}
    </div>
}

<div id="message"></div>

<!-- Search Result -->
<form id="form-select-EmployeeLogs">
    <p class="text-right">
        @Html.ActionLink("Inactivate ", // Link Text
                "InitInactivateModal", // Action Method Name
                "EmployeeLog", // Controller Name
                new {
                    @class = "modal-link btn btn-primary",
                    @style = "display: none;",
                    id = "lk-inactivate"
                })
    </p>
    <div id="search-result"></div>
</form>

<script>
    var getModuleUrl = '@Url.Action("GetModulesInJson")';
    var getEmployeeUrl = '@Url.Action("GetEmployees")';
    var action = "@Constants.LOG_ACTION_INACTIVATE";
</script>

<script src="@Url.Content("~/Scripts/eCLAdmin/logSearchForInactivate.js")"></script>
