@{
    ViewBag.Title = "Manage Employee Logs";
}

<h2>@ViewBag.SubTitle</h2>
<br />

<!-- Search Form -->
@using (Ajax.BeginForm("SearchForInactivate", "EmployeeLog", FormMethod.Post,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "search-result",
                                    OnBegin = "processSearchOnBegin",
                                    OnComplete = "processSearchOnComplete"
                                },
                                new { id = "search-form", @class = "form-horizontal" }
                                ))
{
    <div class="form-group">
        <label class="control-label col-sm-2" for="logType">Type:</label>
        <div class="col-sm-3">
            @Html.DropDownList(
             "logType",
             (SelectList)ViewBag.LogTypes,
             new
             {
                 @class = "form-control"
             }
            )
        </div>
        <div id="type-error-msg" class="col-sm-offset-2 field-validation-error"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="module">Module:</label>
        <div class="col-sm-3">
            @Html.DropDownList(
                "module",
                (SelectList)ViewBag.Modules,
                new
                {
                    @class = "form-control"
                }
            )
        </div>
        <div id="module-error-msg" class="col-sm-offset-2 field-validation-error"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="employee">Employee:</label>
        
        <div class="col-sm-3">
            @Html.DropDownList(
             "employee",
             (SelectList)ViewBag.Employees,
             new {
                @class = "form-control"
             }
            )
        </div>

        <div id="employee-error-msg" class="col-sm-offset-2 field-validation-error"></div>
    </div> 
    
    @*<div class="form-group">
        <input type="text" id="fromDate" class="datepicker" />
    </div>*@
    
    <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit" id="btn-search">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Search
            </button>
        </div>
    </div>
}

<div id="message"></div>

<!-- Search Result -->
<form id="form-select-EmployeeLogs">
    <p class="text-right">
        @Html.ActionLink("Inactivate ", // Link Text
                "InitInactivateModal", // Action Method Name
                "EmployeeLog", // Controller Name
                new
                {
                    @class = "modal-link btn btn-primary",
                    @style = "display: none;",
                    id = "lk-inactivate"
                })
    </p>
    <div id="search-result"></div>
</form>

<script>
    var getModuleUrl = '@Url.Action("GetModulesInJson")';
    var getEmployeeUrl = '@Url.Action("GetEmployees")';
    var action = "@Constants.LOG_ACTION_INACTIVATE";
</script>

<script src="@Url.Content("~/Scripts/eCLAdmin/searchForInactivate.js")"></script>