@model eCLAdmin.Models.EmployeeLog.EmployeeLog

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Employee Logs";
}

<div class="page-header">
    <h3>Delete Employee Log</h3>
</div>

<!-- Search Form -->
@using (Ajax.BeginForm("SearchForDelete",
                       "EmployeeLog",
                       FormMethod.Post,
                       new AjaxOptions
                       {
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "POST",
                           UpdateTargetId = "search-result",
                           OnBegin = "processSearchOnBegin",
                           OnComplete = "processSearchOnComplete"
                       },
                       new { id = "form-search", @class = "form-horizontal" }
    ))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FormName, new { @class="control-label col-sm-2"})
        @Html.TextBoxFor(m => m.FormName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FormName, "", new { @class = "col-sm-offset-2 field-validation-error" })
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2">
            <button class="btn btn-primary" type="submit" id="btn-search">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Search
            </button>
        </div>
    </div>
}

<!-- Log(s) found -->
<div id="search-result"></div> 

<!-- Success Message-->
@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Success
    </div>
}

<!-- Fail Message-->
@if (ViewBag.Fail != null)
{
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Fail
    </div>
}

@Scripts.Render("~/bundles/scripts/logSearchForDelete")