@{
    ViewBag.Title = "Manage Employee Logs";
}

<h3>@ViewBag.SubTitle</h3>

<!-- Search Form -->
@using (Ajax.BeginForm("SearchForInactivate", "EmployeeLog", FormMethod.Post,
                new AjaxOptions {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "search-result",
                    OnBegin = "processSearchOnBegin",
                    OnComplete = "processSearchOnComplete" },
                new { id = "search-form", @class = "form-horizontal" }
            ))
{

    { Html.RenderPartial("_SearchOption", "Search by Log Type, Employee Level, and Employee"); }

    <div class="" id="div-search-by-default">
        <fieldset class="border">
            <br />
            <div class="col-sm-3">
                @Html.DropDownList( "logType", (SelectList)ViewBag.LogTypes, new { @class = "form-control" })
                <div id="type-error-msg" class="field-validation-error"></div>
            </div>

            <div class="col-sm-3">
                @Html.DropDownList( "module", (SelectList)ViewBag.Modules, new { @class = "form-control" })
                <div id="module-error-msg" class="field-validation-error"></div>
            </div>

            <div class="col-sm-3">
                @Html.DropDownList( "employee", (SelectList)ViewBag.Employees, new { @class = "form-control" })
                <div id="employee-error-msg" class="field-validation-error"></div>
            </div>

            <div>
                <button class="btn btn-primary" type="submit" id="btn-search">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;Search
                </button>
            </div>
         
        </fieldset>
    </div>

    <div class="hidden" id="div-search-by-logname">
        @{Html.RenderPartial("_SearchByLogName");}
    </div>
}

<div id="message"></div>

<!-- Search Result -->
<form id="form-select-EmployeeLogs">
    <p class="text-right">
        @Html.ActionLink("Inactivate ", // Link Text
                "InitInactivateModal", // Action Method Name
                "EmployeeLog", // Controller Name
                new {
                    @class = "modal-link btn btn-primary",
                    @style = "display: none;",
                    id = "lk-inactivate"
                })
    </p>
    <div id="search-result"></div>
</form>

<script>
    var getModuleUrl = '@Url.Action("GetModulesInJson")';
    var getEmployeeUrl = '@Url.Action("GetEmployees")';
    var action = "@Constants.LOG_ACTION_INACTIVATE";
</script>

<script src="@Url.Content("~/Scripts/eCLAdmin/logSearchForInactivate.js")"></script>
