@model eCoachingLog.ViewModels.MyDashboardQnViewModel
@using eCoachingLog.Utils

@{
	Layout = null;
}
@Html.HiddenFor(m => m.Search.PageSize)

<div class="panel panel-default">
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="tables mytable table-hover table-bordered" id="dataTables-coaching-log-list" style="width:100%">
                <thead>
                    <tr>
                        <th></th>@*Action*@
                        <th>Form Name</th>
                        <th>Employee Name</th>
						<th>Supervisor Name</th>
						<th>Manager Name</th>
                        <th>Status</th>
                        <th>Coaching Reason</th>
                        <th>Sub-coaching Reason</th>
                        <th>Created Date (@Constants.TIMEZONE)</th>
                        <th>Follow-up Due Date (@Constants.TIMEZONE)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.dataTable_wrapper -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<script>
	var logFilter = @Html.Raw(Json.Encode(Model.Search));
	var supId = '@Html.Raw(Model.Search.SupervisorId)';
	var loadDataUrl = '@Url.Action("LoadDataQn")';
	var showSupervisorColumn = '@Html.Raw(Model.Search.ShowSupNameColumn)';
    var showFollowupDateColumn = '@Html.Raw(Model.Search.ShowFollowupDateColumn)';
    var showPrepareLink = '@Html.Raw(Model.AllowCreateEditSummary)';
    var showCoachLink = '@Html.Raw(Model.AllowCoach)';
    var showCsrReviewLink = '@Html.Raw(Model.AllowCsrReview)';
    var showFollowupReviewLink = '@Html.Raw(Model.AllowFollowupReview)';

    var readOnly = '@Html.Raw(Model.ReadOnly)';
</script>

@Scripts.Render("~/bundles/scripts/logListQN")