@model eCoachingLog.ViewModels.SurveyViewModel
@using eCoachingLog.Models.Survey
<div class="containter-fluid" style="padding-bottom: 50px; ">
	<div class="row" style="padding-bottom: 20px; ">
		The CCO Leadership team is asking for your help in providing feedback on your coaching experience. Please take a few minutes to complete this survey. The details from the surveys will be used to improve the effectiveness, content and delivery of discussions regarding your performance. Your comments and feedback will be anonymous and will not be attributed directly to your individual survey.
		This survey is for <a href="#" class="modal-link" data-log-id="@Model.Survey.LogId">@Model.Survey.LogName</a>.
	</div>
@{
	var additionalCommNbr = Model.Survey.Questions.Count + 1;
}
@using (Html.BeginForm("Save", "Survey", FormMethod.Post,
										new { id = "survey-form", @class = "form-vertical" }))
{
	@Html.HiddenFor(m => m.Survey.Id)
	for (int i = 0; i < Model.Survey.Questions.Count; i++)
	{
		<div class="row">
			@Html.HiddenFor(m => m.Survey.Questions[i].Id)
			<label class="control-label required">
				<strong>@Model.Survey.Questions[i].DisplayOrder. @Html.DisplayTextFor(m => m.Survey.Questions[i].Label)</strong>
			</label> 
		</div>
		<div class="form-group">
			@foreach (SingleChoice sc in Model.Survey.Questions[i].SingleChoices)
			{
				@Html.RadioButtonFor(m => m.Survey.Questions[i].SingleChoiceSelected, sc.Value, new { @class = "radio-single-choice" }) @:&nbsp; @sc.Text &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			}
			@Html.ValidationMessageFor(m => m.Survey.Questions[i].SingleChoiceSelected)
		</div>
		<div class="form-group">
			<label class="control-label">
				@Html.DisplayTextFor(m => m.Survey.Questions[i].TextBoxLabel)
			</label>
			@Html.TextAreaFor(m => m.Survey.Questions[i].MultiLineText, new { @class = "form-control", @rows = "2", maxlength = 3000 })
			@Html.ValidationMessageFor(m => m.Survey.Questions[i].MultiLineText)
		</div>
	}

	<!-- Additional comments-->
	<div class="row">
		<label class="control-label">
			<strong>@additionalCommNbr. Provide additional comments below:</strong>
		</label>
	</div>
	<div class="form-group">
		@Html.TextAreaFor(m => m.Survey.Comment, new { @class = "form-control", @rows = "2", maxlength = 3000 })
		@Html.ValidationMessageFor(m => m.Survey.Comment)
	</div>

	<div class="form-group" style="padding-top: 25px; ">
		<button class="btn btn-info pull-right" type="submit" id="btn-submit">Submit</button>
	</div>
}
</div>

<script>
	var getLogDetailsUrl = '@Url.Action("GetLogDetail")';
</script>
@Scripts.Render("~/bundles/scripts/survey")


