@model eCLAdmin.ViewModels.EclSiteUsageViewModel
<div id="ecl-site-usage-chart" class="show"></div>
<br />
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title" id="activity-title">@Model.HeaderText</p>
		</div>
		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th rowspan="2" width="10%;" id="statistics-by">@Model.TimeSpanColumnHeader</th>
						<th colspan="2">New Submission</th>
						<th colspan="2">My Dashboard</th>
						<th colspan="2">Historical Dashboard</th>
						<th colspan="2">Review</th>
					</tr>
					<tr>
						<th>Hits</th>
						<th>Users</th>
						<th>Hits</th>
						<th>Users</th>
						<th>Hits</th>
						<th>Users</th>
						<th>Hits</th>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
				@foreach (var s in Model.Statistics)
				{
					<tr>
						<td>@s.TimeSpan</td>
						<td align="right">@Html.DisplayFor(item => s.TotalHitsNewSubmission)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalUsersNewSubmission)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalHitsMyDashboard)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalUsersMyDashboard)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalHitsHistorical)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalUsersHistorical)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalHitsReview)</td>
						<td align="right">@Html.DisplayFor(item => s.TotalUsersReview)</td>
					</tr>
				}
					<!-- Totals -->
					<tr>
						<td><strong>Total</strong></td>
						<td align="right"><strong>@Html.DisplayFor(m => m.TotalHitsNewSubmission)</strong></td>
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalUsersNewSubmission)</strong></td>
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalHitsMyDashboard)</strong></tdalign="right">
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalUsersMyDashboard)</strong></td>
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalHitsHistorical)</strong></td>
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalUsersHistorical)</strong></td>
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalHitsReview)</strong></td>
						<td align="right"><strong>@Html.DisplayFor(item => Model.TotalUsersReview)</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
    var model = @Html.Raw(Json.Encode(Model));
</script>

@Scripts.Render("~/bundles/scripts/eclSiteUsageChart")