@using eCoachingLog.Utils
@model eCoachingLog.ViewModels.NewSubmissionViewModel

<input type="hidden" id="WarningYesNo" />
<div class="row">
    <div class="col-sm-6">
        @if(!Model.IsSubcontractor && Model.ModuleId == Constants.MODULE_CSR) {
            <a href="#" style="color: #337ab7" id="a-add-employee"><b>Add</b></a>
        }
    </div>
    <div class="col-sm-6 hide danger" id="div-max-warning">
        You can only submit one warning log in one submission.
    </div>
    <div class="col-sm-6 hide danger" id="div-max-coaching">
       You can only submit up to @Constants.MAX_NUMBER_OF_EMPLOYEES_COACHING_PER_SUBMISSION coaching logs in one submission.
    </div>
</div>

<div id="div-employee-listbox" class="hide">
    <select multiple="multiple" size="10" name="duallistbox_employee" title="duallistbox_employee">
        @if (Model.EmployeeList != null) {
            foreach (var m in Model.EmployeeList) { 
                <option value="@m.Value" selected="@m.IsSelected" data-supid="@m.Data">@m.Text</option>
            }
        }
    </select>
    <div class="pull-right danger" id="warning-log-error"></div>
</div>

<script>
    var dlEmployee;
    $(function () {
        $("#bootstrap-duallistbox-selected-list_duallistbox_employeeaa").after("<div>test</div>");

        $('#div-employee-listbox').removeClass('hide');

        dlEmployee = $('select[name="duallistbox_employee"]').bootstrapDualListbox({
            nonSelectedListLabel: 'Not Selected ',
            selectedListLabel: 'Selected ',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true
        });

        $("#bootstrap-duallistbox-selected-list_duallistbox_employee, #bootstrap-duallistbox-nonselected-list_duallistbox_employee").change(function () {
            handleEmployeeChange()
        });

        // todo: add '.removeall' click, hide page middle
        $(".removeall").click(function () {
            showHideMaxNumberEmployeeMessage();
            showHideNewSubmissionMiddle(false);
            $('#EmployeeIds').val('');
        });

        $(".moveall").click(function () {
            showHideMaxNumberEmployeeMessage();
            showHideNewSubmissionMiddle(true);
            $('#EmployeeIds').val($('[name="duallistbox_employee"]').val());
        });

        function handleEmployeeChange() {
            var selected = $('[name="duallistbox_employee"]').val();

            showHideMaxNumberEmployeeMessage();
            showHideNewSubmissionMiddle(selected.length > 0);
            $('#EmployeeIds').val(selected);
        }

        function showHideMaxNumberEmployeeMessage()
        {
            var selected = $('[name="duallistbox_employee"]').val();

            if ($('#WarningYesNo').val() === 'yes') {
                // check if max (1) reached for warning log
                if (selected.length > maxEmployeesWarningPerSubmission) { // 1
                    $('#div-max-warning').removeClass('hide');
                    $('#div-max-coaching').addClass('hide');
                } else {
                    $('#div-max-warning').addClass('hide');
                }
            } else {
                $('#div-max-warning').addClass('hide');
                // check if max (100) reached for coaching log
                if (selected.length > maxEmployeesCoachingPerSubmission) { // 100
                    $('#div-max-coaching').removeClass('hide');
                    $('#div-max-warning').addClass('hide');
                } else {
                    $('#div-max-coaching').addClass('hide');
                }
            }
        }

        function showHideNewSubmissionMiddle(show)
        {
            if (show === true) {
                $('#div-new-submission-middle').removeClass('hide');
                $('#div-new-submission-middle').addClass('show');
            } else {
                //$("#bootstrap-duallistbox-selected-list_duallistbox_employee").css('border-color', 'red');
                //resetIsCoachingByYou();
                $.ajax({
                    type: 'POST',
                    url: resetIsCoachingByYouUrl,
                    data: {},
                    success: function (result) {
                        $('#div-new-submission-middle').html(result);
                    }
                });

                $('#div-new-submission-middle').removeClass('hide');
                $('#div-new-submission-middle').addClass('show');
                // Empty page bottom
                $('#div-new-submission-bottom').empty();
            }
        }

    });

</script>
