@using eCoachingLog.Utils
@model eCoachingLog.ViewModels.NewSubmissionViewModel
@{
    ViewBag.Title = "New Submission";
}

<div class="ecl-page-header">New Submission<span class="danger" style="float: right; font-size: 75%;"><i>Please do NOT include PII or PHI in the log entry.</i></span></div>
@{ Html.RenderPartial("_Message", Model); }

@using (Html.BeginForm("Save", "NewSubmission", FormMethod.Post,
				new { id = "new-submission-form", @class = "form-horizontal" }))
{
    <div class="well">
        @Html.AntiForgeryToken()
        <div id="validation-summary" class="text-danger" hidden="hidden">
            <ul></ul>
        </div>
		@Html.HiddenFor(m => m.SiteName)
		@Html.HiddenFor(m => m.IsWorkAtHomeReturnSite)
        @Html.HiddenFor(m => m.IsPfd)
        @Html.HiddenFor(m => m.EmployeeIds)

        <div id="div-new-submission-main">
            @{Html.RenderPartial("_NewSubmission");}
        </div>
    </div>
    <!-- /.well -->
}
<!-- end of Html.Beginform-->

<script>
    const maxEmployeesCoachingPerSubmission = @Constants.MAX_NUMBER_OF_EMPLOYEES_COACHING_PER_SUBMISSION;
    const maxEmployeesWarningPerSubmission = @Constants.MAX_NUMBER_OF_EMPLOYEES_WARNING_PER_SUBMISSION;
	const MODULE_LSA = @Constants.MODULE_LSA;

    var clientValidateCoachingReasons = '@Html.Raw(ViewBag.ClientValidateCoachingReasons)';
    var clientValidateEmployee = '@Html.Raw(ViewBag.ClientValidateEmployee)';
	var checkPageDataChanged = true;
	var validationError = '@Html.Raw(ViewBag.ValidationError)';
    var getEmployeesByModuleUrl = '@Url.Action("GetEmployeesByModule", "NewSubmission")';
    var resetPageUrl = '@Url.Action("ResetPage", "NewSubmission")';
    var resetIsCoachingByYouUrl = '@Url.Action("ResetIsCoachingByYou", "NewSubmission")';
    var resetPageBottomUrl = '@Url.Action("ResetPageBottom", "NewSubmission")';
    var loadCoachUrl = '@Url.Action("ShowCoachQuestions", "NewSubmission")';
    var loadWarningReasonsUrl = '@Url.Action("GetWarningReasons", "NewSubmission")';
    var loadCoachingReasonsUrl = '@Url.Action("LoadCoachingReasons", "NewSubmission")';
    var loadSourcesUrl = '@Url.Action("LoadSources", "NewSubmission")';
    // Opportunity/Reinforcement options
    var handleCoachingReasonClicked = '@Url.Action("HandleCoachingReasonClicked", "NewSubmission")';
    var redirectToIndex = '@Url.Action("Index", "NewSubmission")';

    var getMgtInfo = '@Url.Action("GetMgtInfo", "NewSubmission")';
    var handleSiteChangedUrl = '@Url.Action("HandleSiteChanged", "NewSubmission")';


    var initAddEmployeeUrl = '@Url.Action("InitAddEmployee", "NewSubmission")';
    var getEmployeesUrl = '@Url.Action("GetEmployees", "NewSubmission")';
</script>

@Scripts.Render("~/bundles/scripts/newSubmission")
