@{
    ViewBag.Title = "Reporting";
}

<div class="page-header">
    <h3>Feed Load History</h3>
</div>

<div id="div-search" style="margin-bottom: 20px;">
    @{ Html.RenderPartial("_Search"); }
</div>

<div class="hide" id="div-export-to-excel" style="margin-bottom: 5px;">
    <button class="btn btn-success btn-sm" type="button" id="btn-export-excel">Export to Excel</button>
</div>

<div id="div-report"></div>

<script>
    const generateReportUrl = '@Url.Action("GenerateReport", "ReportFeedLoadHistory")';
    const exportToExcelUrl = '@Url.Action("ExportToExcel", "ReportFeedLoadHistory")';
    const downloadExcelUrl = '@Url.Action("Download", "ReportFeedLoadHistory")';
    const getReportCodesUrl = '@Url.Action("GetFeedReportCodes", "ReportFeedLoadHistory")';

    $(function () {
        $("#select-category").on("change", function () {
            let categorySelected = $(this).val();
            if (categorySelected === -2) {
                $('#select-report-code').find('option').not(':first').remove();
                return;
            }

            $.ajax({
                type: 'POST',
                url: getReportCodesUrl,
                dataType: 'json',
                data: { categoryId: categorySelected },

                success: function (reportCodes) {
                    $('#select-report-code').empty();
                    var options = [];
                    $.each(reportCodes, function (i, rc) {
                        options.push('<option value="', rc.Value, '">' + rc.Text + '</option>');
                    });

                    $('#select-report-code').html(options.join(''));
                },
                complete: function () {}
            });

        });
    });
</script>

<script src="@Url.Content("~/Scripts/eCLAdmin/dateTimePicker.js")"></script>
<script src="@Url.Content("~/Scripts/eCLAdmin/report.js")"></script>




