@model eCoachingLog.ViewModels.ReviewViewModel

<div class='mt-2 @(@Model.ShowManagerNotes ? "show" : "hide")'>
	<strong>Notes from Manager:</strong>
	<br />
	@Model.LogDetail.MgrNotes
</div>
<div class='mt-2 @(@Model.ShowCoachingNotes ? "show" : "hide")'>
	<strong>Coaching Notes:</strong>
	<br />
	@Model.LogDetail.CoachingNotes
</div>

<!-- TODO: check if it displays static text for acknowledgement -->
<div class="mt-2 hide">
	@Html.Raw(Model.InstructionText)
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-mydashboard-review-pending" }))
{
	@Html.HiddenFor(m => m.LogDetail.LogId)
	@Html.HiddenFor(m => m.IsAcknowledgeForm)
	<div class='form-group mt-2 @(@Model.IsReinforceLog ? "show" : "hide")'>
		<label for="AcknowledgeCheckBox" class="required">Check the box below to acknowledge the monitor:</label><br />
		<label class="checkbox-inline">
			@Html.CheckBoxFor(m => m.Acknowledge)I have read and understand all the informaito provided on this eCoaching Log.
		</label>
		@Html.ValidationMessageFor(m => m.Acknowledge)
	</div>

	<div class='form-group mt-2 @(@Model.IsAckOpportunityLog ? "show" : "hide")'>
		<label for="AcknowledgeCheckBox" class="required">Check the box below to acknowledge the coaching opportunity:</label><br />
		<label class="checkbox-inline">
			@Html.CheckBoxFor(m => m.Acknowledge)I have read and understand all the informaito provided on this eCoaching Log.
		</label>
		@Html.ValidationMessageFor(m => m.Acknowledge)
	</div>

	<div class='form-group mt-2 @(@Model.ShowCommentTextBox ? "show" : "hide")'>
		<label for="EmployeeCommentsTextBox" class="required">Provide any comments or feedback below:</label>
		@Html.TextAreaFor(m => m.EmployeeComments, new { @class = "form-control", @rows = "5", id = "textarea-employee-comments" })
		<div class="help-block">
			Provide as much detail as possible.
			<span id="employee-comments" class="pull-right">3000 remaining</span>
		</div>
		@Html.ValidationMessageFor(m => m.EmployeeComments)
	</div>

	<div class='form-group mt-2 @(@Model.ShowCommentDdl ? "show" : "hide")'>
		<label for="EmployeeCommentsDdl" class="required">Please select one of the comments below for the log:</label>
		@Html.DropDownListFor(m => m.EmployeeComments, Model.EmployeeCommentsDdlList, new { @class = "form-control", style = "width: 350px;" })
		@Html.ValidationMessageFor(m => m.EmployeeComments)
	</div>
}

@Scripts.Render("~/bundles/scripts/review")


