@model eCoachingLog.ViewModels.ReviewViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-mydashboard-review-pending" }))
{
	@Html.HiddenFor(m => m.LogDetail.LogId)
	@Html.HiddenFor(m => m.IsShortCallPendingSupervisorForm)
	@Html.HiddenFor(m => m.IsShortCallPendingManagerForm)

	Html.RenderPartial("_ShortCalls");

	<div class='form-group mt-2' id='div-date-coached'>
		<label for="DateConfirmed" id="label-date-confirmed" class="required">Date:</label>
		<div class="col-xs-4 input-group date">
			@Html.TextBoxFor(m => m.DateConfirmed, new { @class = "form-control" })
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		@Html.ValidationMessageFor(m => m.DateConfirmed)
	</div>

	<div class='form-group mt-2' id='div-coaching-detail'>
		<label for="DetailsCoached" class="required">Provide comments below:</label>
		@Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @rows = "5", maxlength = 3000 })
		<div class="help-block">
			@*Provide as much detail as possible.*@
			<span id="detail-remaining" class="pull-right">3000 remaining</span>
		</div>
		@Html.ValidationMessageFor(m => m.Comments)
	</div>
}


