@if (!Model.IsFollowupCompleted)
{
	<div class="mt-2">
		<strong>Follow-up will occur on: @Model.FollowupDueDateNoTime</strong>
	</div>
}
@if (Model.IsFollowupCompleted)
{
	<div class="mt-2">
		<strong>Follow-up occurred on:</strong><br />
		@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.FollowupActualDate))
	</div>
	<div class="mt-2">
		<strong>Follow-up Coaching Notes:</strong><br />
		@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.FollowupDetails))
	</div>
}
