<div class="mt-2">
    <strong>Follow-up Notes:</strong><br />
    @Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.FollowupDetails))
</div>
<div class="mt-2">
	<strong>Supervisor Follow-up Review Information:</strong><br />
	@Model.LogDetail.FollowupSupName<br />
	@Model.LogDetail.FollowupSupAutoDate<br />
</div>

@if (Model.IsFollowupAcknowledged)
{
    <div class="mt-2">
        <strong>Employee Follow-up Feedback:</strong><br />
        @Model.LogDetail.FollowupEmpComments
    </div>
    <div class="mt-2">
	    <strong>Employee Follow-up Review Information:</strong><br />
	    @Model.LogDetail.EmployeeName<br />
	    @Model.LogDetail.FollowupEmpAutoDate <br />
    </div>
}


