<div class='mt-2 @(string.IsNullOrEmpty(Model.LogDetail.MgrNotes) ? "hide" : "show")'>
	<strong>Manager Notes:</strong><br />
	@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.MgrNotes))
</div>
<div class="mt-2">
	<strong>Coaching Notes:</strong><br />
	@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.CoachingNotes))
</div>
@{ Html.RenderPartial("_ManagerReviewInfo"); }
@{ Html.RenderPartial("_SupervisorReviewInfo"); }
@{ Html.RenderPartial("_EmployeeReviewInfo"); }
