@model eCoachingLog.ViewModels.ReviewViewModel

<div class="mt-2">
	<strong>Coaching Opportunity was a confirmed Customer Service Escalation</strong>
</div>

<!-- TODO: put these notes in a seperate cshtml file -->
<div class='mt-2 @(@Model.ShowManagerNotes ? "show" : "hide")'>
	<strong>Notes from Manager:</strong>
	<br />
	@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.MgrNotes))
</div>
<div class='mt-2 @(@Model.ShowCoachingNotes ? "show" : "hide")'>
	<strong>Coaching Notes:</strong>
	<br />
	@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.CoachingNotes))
</div>
<!-- END TODO -->

<div class="mt-2">
	<strong>Employee Review Information:</strong>
</div>

<div class="mt-2">
	<strong>Supervisor Review Information:</strong>
</div>

<div class="mt-2">
	<strong>Employee Comments/Feedback:</strong>
</div>
