@model eCoachingLog.ViewModels.ReviewViewModel
<div class="container-fluid" style="height: 100%;">
	<div class="row row-eq-height">
		<div class="col-xs-3 blue-bar">
			@{Html.RenderPartial("_CoachingLogInfo"); }
		</div>
		<!--/.col-xs-3 -->
		<div class="col-xs-9">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Review</h4>
				@if (!Model.IsReadOnly)
				{
					<div class="danger pull-right">Please do NOT include PII or PHI in the log entry.</div>
					<br />
					<div class="text-muted pull-right"><small>Please note that all fields are required. Double-check your work to ensure accuracy.</small></div>
				}

				<div id="div-error-prompt" class="danger"></div>
			</div>

			<div class="modal-body" style="font-size: small;">
				@{ Html.RenderPartial("_Reasons", Model.LogDetail.Reasons); }

                @if (!Model.LogDetail.IsQualityNowLog)
				{
				    <div class="mt-2">
					    <strong>Details of the behavior being coached:</strong>
					    <br />
					    @Html.Raw(WebUtility.HtmlDecode(Model.LogDetail.Behavior))
				    </div>

					<div class='mt-2 @(Model.ShowConfirmedCseText ? "show" : "hide")'>
						<strong><mark>Coaching Opportunity was a confirmed Customer Service Escalation.</mark></strong><br />
					</div>
					<div class='mt-2 @(Model.ShowConfirmedNonCseText ? "show" : "hide")'>
						<strong><mark>Coaching Opportunity was not a confirmed Customer Service Escalation.</mark></strong><br />
					</div>
				}
				else
				{
					<!-- Display Quality NOW log -->
					Html.RenderPartial("_Scorecards");
				}

				<div class="mt-2 instruction-text @(string.IsNullOrEmpty(@Model.InstructionText) ? "hide" : "show")">
					@Html.Raw(Model.InstructionText)
				</div>

				<div class="mt-2">
					@if (!Model.IsReadOnly && Model.IsAcknowledgeForm)
					{
						{ Html.RenderPartial("_AcknowledgeCoaching"); }
					}
					else if (!Model.IsReadOnly && Model.IsReviewForm)
					{
						{ Html.RenderPartial("_ReviewCoaching"); }
					}
				</div>
			</div>
			<!-- /.modal-body -->

			<div class="modal-footer" id="div-review-modal-footer">
				<div class="form-group">
					@if (Model.IsReadOnly || (Model.IsFollowupPendingSupervisorForm && !Model.IsFollowupDue && !Model.IsFollowupOverDue))
					{
						<button class="btn btn-primary float-right" id="btn-close" data-dismiss="modal">Close</button>
					}
					else if (Model.IsAcknowledgeForm || Model.IsReviewForm)
					{
						<button class="btn btn-primary float-right" type="submit" id="btn-submit">Submit</button>
					}
				</div>
			</div>
		</div>
		<!--/.col-xs-9 -->
	</div>
	<!--/.row -->
</div>



