<div class='mt-2 @(@Model.ShowManagerNotes ? "show" : "hide")'>
	<strong>Notes from Manager:</strong>
	<br />
	@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.MgrNotes))
</div>
<div class='mt-2 @(@Model.ShowCoachingNotes ? "show" : "hide")'>
	<strong>Coaching Notes:</strong>
	<br />
	@Html.Raw(WebUtility.HtmlDecode(@Model.LogDetail.CoachingNotes))
</div>

<div class="mt-2">
	<strong>@Html.Raw(Model.InstructionText)</strong>
</div>

@if (Model.IsRegularPendingForm)
{
	{ Html.RenderPartial("_ReviewCoachingPending"); }
}
else if (Model.IsResearchPendingForm)
{
	{ Html.RenderPartial("_ReviewCoachingResearch"); }
}
else if (Model.IsCsePendingForm)
{
	{ Html.RenderPartial("_ReviewCoachingCse"); }
}
