@model eCoachingLog.ViewModels.ReviewViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-mydashboard-review-pending" }))
{
	@Html.HiddenFor(m => m.LogDetail.LogId)
	@Html.HiddenFor(m => m.IsShortCallPendingSupervisorForm)

	<table class="table mt-2 table-condensed" id="tbl-short-call">
		<thead>
			<tr>
				<th class="text-center" width="7%">Verint Call Id</th>
				<th class="required text-center" width="3%">Valid</th>
				<th class="required" width="22%">Behavior</th>
				<th class="" width="20%">Action</th>
				<th class="required" width="45%">Coaching Notes <span class="text-muted small"><em>(Maximum characters: 3000)</em></span></th>
				<th class="required text-center" width="3%">LSA Informed</th>
			</tr>
		</thead>

		@for (int i = 0; i < Model.ShortCallList.Count; i++)
		{
			@Html.HiddenFor(m => m.ShortCallList[i].VerintId)
			<tr>
				<td>@Html.DisplayTextFor(m => m.ShortCallList[i].VerintId)</td>
				<td class="text-center">@Html.CheckBoxFor(m => m.ShortCallList[i].IsValidBehavior, new { @class = "largeCheckBox", data_verintid = Model.ShortCallList[i].VerintId })
				</td>
				<td>
					@Html.DropDownListFor(m => m.ShortCallList[i].SelectedBehaviorId, Model.ShortCallList[i].SelectListBehaviors, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ShortCallList[i].SelectedBehaviorId)
				</td>
				<td>
					<div>@Html.Raw(Model.ShortCallList[i].Action)</div>
					@Html.HiddenFor(m => m.ShortCallList[i].Action)
				</td>
				<td>
					@Html.TextAreaFor(m => m.ShortCallList[i].CoachingNotes, new { @class = "form-control", placeholder = "Enter coaching notes ...", maxlength = 3000 })
					@Html.ValidationMessageFor(m => m.ShortCallList[i].CoachingNotes)
				</td>
				<td class="text-center">@Html.CheckBoxFor(m => m.ShortCallList[i].IsLsaInformed, new { @class = "largeCheckBox" })</td>
			</tr>
		}
	</table>
}

<script>
	var getShortCallBehaviorList = '@Url.Action("GetShortCallBehaviorList", "Review")';
	var getActionByBehaviorId = '@Url.Action("GetActionByBehaviorId", "Review")';
	var logId = '@Model.LogDetail.LogId';
	var employeeId = '@Model.LogDetail.EmployeeId';
</script>
