@model eCoachingLog.ViewModels.ReviewViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-mydashboard-review-pending"}))
{
	@Html.HiddenFor(m => m.LogDetail.LogId)
	@Html.HiddenFor(m => m.LogDetail.FormName)
	@Html.HiddenFor(m => m.LogDetail.ModuleName)
	@Html.HiddenFor(m => m.LogDetail.StatusId)
	@Html.HiddenFor(m => m.LogDetail.SupervisorEmail)
	@Html.HiddenFor(m => m.LogDetail.ManagerEmail)
	@Html.HiddenFor(m => m.IsRegularPendingForm)
	<div class='form-group mt-2' id='div-date-coached'>
		<label for="DateCoached" id="label-date-coached" class="required">Enter the date of coaching:</label>
		<div class="col-xs-4 input-group date">
			@Html.TextBoxFor(m => m.DateCoached, new { @class = "form-control" })
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		@Html.ValidationMessageFor(m => m.DateCoached)
	</div>

	<div class='form-group mt-2' id='div-coaching-detail'>
		<label for="DetailsCoached" class="required">Provide the details from the coaching session including action plans developed:</label>
		@Html.TextAreaFor(m => m.DetailsCoached, new { @class = "form-control", @rows = "5" })
		<div class="help-block">
			Provide as much detail as possible.
			<span id="behavior-detail-remaining" class="pull-right">3000 remaining</span>
		</div>
		@Html.ValidationMessageFor(m => m.DetailsCoached)
	</div>
}

@Scripts.Render("~/bundles/scripts/review")
<script src="@Url.Content("~/Scripts/eCoachingLog/dateTimePicker.js")"></script>
