@using eCoachingLog.Models.User
@using eCoachingLog.Models.Common
@{
	var user = ((User)Session["AuthenticatedUser"]);
    const string WebChat = "Web Chat";
    const string WrittenCorrespondence = "Written Correspondence";
}
<br />
@foreach (Scorecard s in Model.LogDetail.Scorecards)
{
	<div class="panel-group" id="accordion-@s.EvalId">
		<div class="panel panel-maximus-color">
			<div class="panel-heading-thin panel-heading-collapse" data-toggle="collapse" data-parent="#accordion-@s.EvalId" data-target="#@s.EvalId">
				<p class="panel-title-small accordion-toggle">
					&nbsp; @s.EvalName
					<span class="glyphicon glyphicon-plus pull-right">&nbsp;</span>
				</p>
			</div>
			<div id="@s.EvalId" class="panel-collapse collapse">
				<div class="panel-body">
					<p><strong>Form Name:</strong> @s.ScorecardName</p>
					<p><strong>Verint:</strong> @s.VerintId</p>
                    @if (String.Equals(s.Channel, WebChat, StringComparison.OrdinalIgnoreCase))
                    {
                        <p><strong>Activity ID:</strong> @s.ActivityId</p>
                    }
                    @if (String.Equals(s.Channel, WrittenCorrespondence, StringComparison.OrdinalIgnoreCase))
                    {
                        <p><strong>DCN:</strong> @s.ActivityId</p>
                    }
					<p><strong>Coaching Monitor:</strong> @s.CoachingMonitor</p>
					<p><strong>Program:</strong> @s.Program</p>
					<p><strong>Date Of Event:</strong> @s.DateOfEvent</p>
					<p><strong>Submitter:</strong> @s.SubmitterName</p>
					@if (!user.IsCsr)
                    {
                        // default to Phone
                        var issueResolutionLabel = "Issue Resolution";
                        var efficiencyLabel = "Call Efficiency";
                        var issueDiagnosisLabel = "Active Listening";
                        var communicationLabel = "Personality Flexing";
                        if (String.Equals(s.Channel, WebChat, StringComparison.OrdinalIgnoreCase))
                        {
                            efficiencyLabel = "Chat Efficiency";
                            issueDiagnosisLabel = "Issue Diagnosis";
                            communicationLabel = "Professional Communication";
                        } else if (String.Equals(s.Channel, WrittenCorrespondence, StringComparison.OrdinalIgnoreCase))
                        {
                            efficiencyLabel = "";
                            issueDiagnosisLabel = "";
                            issueResolutionLabel = "Business Correspondence";
                            communicationLabel = "";
                        }
                        <p><strong>Contact Reason:</strong> @Html.Raw(s.ContactReason)</p>
						<p><strong>Business Process:</strong> @Html.Raw(s.BusinessProcess)</p>
						<p><strong>Information Accuracy:</strong> @Html.Raw(s.InfoAccuracy)</p>
						<p><strong>Privacy Disclaimers:</strong> @Html.Raw(s.PrivacyDisclaimers)</p>
						<p><strong>@issueResolutionLabel:</strong> @Html.Raw(s.IssueResolution)</p>
                        if (!String.Equals(s.Channel, WrittenCorrespondence, StringComparison.OrdinalIgnoreCase))
                        {
                            <p><strong>@efficiencyLabel:</strong> @Html.Raw(s.CallEfficiency)</p>
     						<p><strong>@issueDiagnosisLabel:</strong> @Html.Raw(s.ActiveListening)</p>
						    <p><strong>@communicationLabel:</strong> @Html.Raw(s.PersonalityFlexing)</p>
						    <p><strong>Start Temperature:</strong> @Html.Raw(s.StartTemperature)</p>
						    <p><strong>End Temperature:</strong> @Html.Raw(s.EndTemperature)</p>
                        }
                    }
				</div>
			</div>
		</div>
	</div>
}

<div class='mt-2'>
	<strong>Strengths and Opportunities:</strong> 
	<p>@Model.LogDetail.StrengthOpportunity</p>
</div>

<script>
	$(function () {
		$('body').on('shown.bs.collapse', '.collapse', function () {
			$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
		});

		$('body').on('hidden.bs.collapse', '.collapse', function () {
			$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
		});
	});
</script>
