@using eCoachingLog.Models.Common
@model eCoachingLog.ViewModels.ReviewViewModel

<table class="table mt-3 table-condensed"  id="tbl-confirm-short-call">
	<thead>
		<tr>
			<th class="text-center" width="7%">Verint Call Id</th>
			<th class="text-center" width="3%">Valid</th>
			<th class="" width="15%">Behavior</th>
			<th class="" width="15%">Action</th>
			<th class="" width="37%">Coaching Notes</th>
			<th class="text-center" width="6%">LSA Informed</th>
			@if (!Model.IsReadOnly)
			{
				<th class="required" width="16%">Do You Agree?</th>
			}
			else
			{
				<th width="16%">Does Manager Agree?</th>
			}
		</tr>
	</thead>

	@{ 
		int index = 0;
	}
	@foreach (ShortCall sc in Model.ShortCallList)
	{
		@Html.HiddenFor(m => m.ShortCallList[index].VerintId)
	<tr>
		<td class="">@Html.Raw(sc.VerintId)</td>
		<td class="" align="center">@Html.Raw(sc.IsValidBehaviorText)</td>
		<td class="">@Html.Raw(sc.SelectedBehaviorText)</td>
		<td class="">@Html.Raw(sc.ActionsString)</td>
		<td class="">@Html.Raw(sc.CoachingNotes)</td>
		<td class="" align="center">@Html.Raw(sc.IsLsaInformedText)</td>
		<td>
			@if (!Model.IsReadOnly)
			{
				<div>
					@Html.RadioButtonFor(m => m.ShortCallList[index].IsManagerAgreed, "true") Yes&nbsp;&nbsp;
					@Html.RadioButtonFor(m => m.ShortCallList[index].IsManagerAgreed, "false") No
					@Html.ValidationMessageFor(m => m.ShortCallList[index].IsManagerAgreed)
				</div>
				<div class="hide">
					@Html.TextAreaFor(m => m.ShortCallList[index].Comments, new { @class = "form-control not-agreed-comments", placeholder = "Enter Comments ...", maxlength = 3000 })
				</div>
			}
			else
			{
				@Html.Raw(sc.ManagerAgreedText)
				<br />
				@Html.Raw(sc.Comments)
			}
		</td>
	</tr>
		index++;
	}
</table>


