@model eCoachingLog.ViewModels.HistoricalDashboardViewModel
@*@Html.ValidationSummary()*@

@Html.HiddenFor(m => m.AllowSearchWarning)
<input type="hidden" name="sourceSelected" id="sourceSelected" value="-1">

<fieldset class="scheduler-border">
	<form class="form-inline"  id="form-search-historical">
		<div class="form-group">
			<lable>Submitted:&nbsp;</lable>
			<div class="input-group date">
				@Html.TextBoxFor(m => m.Search.SubmitDateFrom, new { @class = "form-control reset-search-result" })
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			@Html.ValidationMessageFor(m => m.Search.SubmitDateFrom)	
		</div>
		<div class="form-group">
			<div class="input-group date">
				@Html.TextBoxFor(m => m.Search.SubmitDateTo, new { @class = "form-control reset-search-result" })
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			@Html.ValidationMessageFor(m => m.Search.SubmitDateTo)
		</div>

		<div class="form-group" style="padding:0px 5px 0px 50px;">
			<lable>Employee:&nbsp;</lable>
			<label class="radio-inline">
				@Html.RadioButtonFor(m => m.Search.ActiveEmployee, "1", new { @class = "employee-status reset-search-result" }) Active
			</label>
		</div>
		<div class="form-group">
			<label class="radio-inline">
				@Html.RadioButtonFor(m => m.Search.ActiveEmployee, "2", new { @class = "employee-status reset-search-result" }) Inactive
			</label>
		</div>
		<div class="form-group">
			<label class="radio-inline">
				@Html.RadioButtonFor(m => m.Search.ActiveEmployee, "3", new { @class = "employee-status reset-search-result" }) Both
			</label>
		</div>
		<br />

		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.SiteId, Model.SiteSelectList, new { id = "select-site", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.ManagerId, Model.ManagerSelectList, new { id = "select-manager", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.SupervisorId, Model.SupervisorSelectList, new { id = "select-supervisor", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.EmployeeId, Model.EmployeeSelectList, new { id = "select-employee", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.SubmitterId, Model.SubmitterSelectList, new { id = "select-submitter", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.StatusId, Model.LogStatusSelectList, new { id = "select-status", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.SourceId, Model.LogSourceSelectList, new { id = "select-source", @class = "form-control reset-search-result" })
		</div>

        <div class="form-group">
            @Html.DropDownListFor(m => m.Search.ReasonId, Model.ReasonSelectList, new { id = "select-reason", @class = "form-control reset-search-result" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Search.SubReasonId, Model.SubReasonSelectList, new { id = "select-subreason", @class = "form-control reset-search-result" })
        </div>

		<div class="form-group">
			@Html.DropDownListFor(m => m.Search.ValueId, Model.LogValueSelectList, new { id = "select-value", @class = "form-control reset-search-result" })
		</div>
		<div class="form-group">
			<button class="btn btn-info" type="submit" id="btn-search-historical">
				<span class="glyphicon glyphicon-search"></span>&nbsp;Search
			</button>
			<button class="btn btn-warning" type="reset" id="btn-reset">
				<span class="glyphicon glyphicon-remove"></span>&nbsp;Reset
			</button>
		</div>
	</form>
</fieldset>

<script>
	var searchUrl = '@Url.Action("Search", "HistoricalDashboard")';
	var getManagersUrl = '@Url.Action("GetManagersBySite", "HistoricalDashboard")';
	var getSupervisorsUrl = '@Url.Action("GetSupervisorsByMgr", "HistoricalDashboard")';
	var getEmployeesUrl = '@Url.Action("GetEmployeesBySup", "HistoricalDashboard")';
	var resetPageUrl = '@Url.Action("ResetPage", "HistoricalDashboard")';
	var exportToExcelUrl = '@Url.Action("ExportToExcel", "HistoricalDashboard")';
    var downloadExcelUrl = '@Url.Action("Download", "HistoricalDashboard")';

    var getReaonsUrl = '@Url.Action("GetReasons", "HistoricalDashboard")';
</script>

<script src="@Url.Content("~/Scripts/eCoachingLog/dateTimePicker.js")"></script>

