@model eCLAdmin.ViewModels.Reports.AdminActivitySearchViewModel

@Html.HiddenFor(m => m.PageSize)
<form class="form-inline">
    <div class="form-group">
        <div class="input-group mydate">
            @Html.TextBoxFor(m =>m.StartDate, new { placeholder = "Start Date", @class = "form-control required" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group mydate">
            @Html.TextBoxFor(m => m.EndDate, new { placeholder = "End Date", @class = "form-control required" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
 
    @Html.DropDownListFor(m => m.SelectedTypeId, Model.LogTypeSelectList, new { id = "select-type", @class = "form-control required" })
    @Html.DropDownListFor(m => m.SelectedAction, Model.ActionSelectList, new { id = "select-action", @class = "form-control required" })
    @Html.TextBoxFor(m => m.FreeTextSearch, new { id = "logname-empname", placeholder = "Log name, employee name ...", @class = "form-control"})

    <button type="button" class="btn btn-primary ml-1" id="btn-generate-report">Generate Report</button> 
</form>

<script>
    $(document).ready(function () {

        $("#select-type").on("change", function () {
            $('#select-action').addClass('loadinggif')
            var logTypeSelected = $(this).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetActions")',
                dataType: 'json',
                data: { logTypeId: logTypeSelected },

                success: function (actions) {
                    $('#select-action').empty();
                    $('#select-log').find('option').not(':first').remove();
                    var options = [];
                    $.each(actions, function (i, a) {
                        options.push('<option value="', a.Value, '">' + a.Text + '</option>');
                    });

                    $('#select-action').html(options.join(''));
                    $('#select-action').removeClass('loadinggif');
                }
            });
            return false;
        });

    });

</script>