@using eCLAdmin.Extensions
@using eCLAdmin.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eCL Admin</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="please-wait" style="display: none;">
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <img alt="eCL" src="~/Content/Images/eCL.png" style="height: 30px; margin-top: -5px">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewContext.Controller.IsEntitled("SeniorManagerDashboard"))
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    }

                    @if (ViewContext.Controller.IsEntitled("ManageCoachingLogs") ||
                            ViewContext.Controller.IsEntitled("ManageWarningLogs"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false">Manage Employee Logs<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForInactivate"))
                                {
                                    <li>@Html.ActionLink("Inactivate Employee Logs", "SearchForInactivate", "EmployeeLog")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForReassign"))
                                {
                                    <li>@Html.ActionLink("Reassign Employee Logs", "SearchForReassign", "EmployeeLog")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForReactivate"))
                                {
                                    <li>@Html.ActionLink("Reactivate Employee Logs", "SearchForReactivate", "EmployeeLog")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForDelete"))
                                {
                                    <li role="presentation" class="divider"></li>
                                    <li>@Html.ActionLink("Delete Employee Logs", "SearchForDelete", "EmployeeLog")</li>
                                }
                            </ul>
                        </li>
                    }

                    @if (ViewContext.Controller.IsEntitled("ManageUsers"))
                    {
                        <li>@Html.ActionLink("Manage Users", "List", "User")</li>
                    }

@*Report*@
                    @if (ViewContext.Controller.IsEntitled("Reports"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false">Reporting<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (ViewContext.Controller.IsEntitled("Report-RunCoachingSummary"))
                                {
                                    <li>@Html.ActionLink("Coaching Log Summary", "RunCoachingSummary", "Report")</li>
                                }
                            </ul>
                        </li>
                    }
@*End Report*@

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["AuthenticatedUser"] != null)
                    {
                        <li class="navbar-text">Hello, @(((User)Session["AuthenticatedUser"]).Name)!</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-left">&copy; @DateTime.Now.Year - CCO eCL Admin</p>
            <div class="pull-right">
                <a href="mailto:@Constants.SITE_ADMIN_EMAIL ?Subject=@Constants.SITE_EMAIL_SUBJECT" target="_top">Contact</a>
            </div>
        </footer>
    </div>

    <div id="modal-container" class="modal fade in" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-content">
        </div>
    </div>

    <script>
        var sessionExpiredUrl = '@Url.Action("SessionExpire", "Home")';
        var errorUrl = '@Url.Action("Index", "Error")';
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
