@using eCLAdmin.Extensions
@using eCLAdmin.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCL Admin - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="please-wait" style="display: none;">
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <img alt="eCL" src="~/Content/Images/eCL.png" style="height: 30px; margin-top: -5px">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewContext.Controller.IsEntitled("ManageCoachingLogs") ||
                            ViewContext.Controller.IsEntitled("ManageWarningLogs"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false">Manage Employee Logs<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForInactivate"))
                                {
                                    <li>@Html.ActionLink("Inactivate Employee Logs", "SearchForInactivate", "EmployeeLog")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForReassign"))
                                {
                                    <li>@Html.ActionLink("Reassign Employee Logs", "SearchForReassign", "EmployeeLog")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForReactivate"))
                                {
                                    <li>@Html.ActionLink("Reactivate Employee Logs", "SearchForReactivate", "EmployeeLog")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("EmployeeLog-SearchForDelete"))
                                {
                                    <li role="presentation" class="divider"></li>
                                    <li>@Html.ActionLink("Delete Employee Logs", "SearchForDelete", "EmployeeLog")</li>
                                }
                            </ul>
                        </li>
                    }

                    @if (ViewContext.Controller.IsEntitled("Reports"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-expanded="false">Reporting<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (ViewContext.Controller.IsEntitled("Report-RunCoachingSummary"))
                                {
                                    <li>@Html.ActionLink(Constants.COACHING_SUMMARY_REPORT_DESCRIPTION, "Index", "ReportCoaching")</li>
                                }
								@if (ViewContext.Controller.IsEntitled("Report-RunCoachingSummaryQN"))
								{
									<li>@Html.ActionLink(Constants.COACHING_QUALITY_NOW_SUMMARY_REPORT_DESCRIPTION, "Index", "ReportCoachingQn")</li>
								}
                                @if (ViewContext.Controller.IsEntitled("Report-RunWarningSummary"))
                                {
                                    <li>@Html.ActionLink(Constants.WARNING_SUMMARY_REPORT_DESCRIPTION, "Index", "ReportWarning")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("Report-RunHierarchySummary"))
                                {
                                    <li role="presentation" class="divider"></li>
                                    <li>@Html.ActionLink(Constants.HIERARCHY_SUMMARY_REPORT_DESCRIPTION, "Index", "ReportEmployeeHierarchy")</li>
                                }
                                @if (ViewContext.Controller.IsEntitled("Report-RunAdminActivitySummary"))
                                {
                                    <li role="presentation" class="divider"></li>
                                    <li>@Html.ActionLink(Constants.ADMIN_ACTIVITY_REPORT_DESCRIPTION, "Index", "ReportAdminActivity")</li>
                                }

                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink("Feed Load History", "Index", "ReportFeedLoadHistory")</li>
                            </ul>
                        </li>
                    }

                    @if (ViewContext.Controller.IsEntitled("Users"))
                    { 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-expanded="false">Users<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (ViewContext.Controller.IsEntitled("User-eCoachingAccessControlList"))
                            {
                                <li>@Html.ActionLink("eCoaching ACL", "eCoachingAccessControlList", "User")</li>
                            }
                        </ul>
                    </li>
                    }

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						   role="button" aria-expanded="false">Help<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>@Html.ActionLink("Submit a Ticket", "SubmitTicket", new { controller = "Help" }, new { target = "_blank" })</li>
						</ul>
					</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["AuthenticatedUser"] != null)
					{
						<li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp@(((User)Session["AuthenticatedUser"]).Name)</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="body-content" id="div-body">
        @RenderBody()
    </div>

    <div id="modal-container" class="modal fade in" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-content">
        </div>
    </div>

    <script>
        var sessionExpiredUrl = '@Url.Action("SessionExpire", "Home")';
        var errorUrl = '@Url.Action("Index", "Error")';
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
