<div id="demo" class="table-wrapper collapse in">
    <table>
        <thead>
            <tr>
                <th rowspan="2">Employee Name</th>
                <th rowspan="2" colspan="2">
                    <table style="border: hidden;">
                        <tr>
                            <td colspan="2">@Model.ThisMonth</td>
                        </tr>
                        <tr>
                            <td width="50%">Improved</td>
                            <td width="50%">Follow-Up</td>
                        </tr>
                    </table>
                </th>
                <th rowspan="2" colspan="2">
                    <table style="border: hidden;">
                        <tr>
                            <td colspan="2">@Model.MonthMinus1</td>
                        </tr>
                        <tr>
                            <td width="50%">Improved</td>
                            <td width="50%">Follow-Up</td>
                        </tr>
                    </table>
                </th>
                <th rowspan="2" colspan="2">
                    <table style="border: hidden;">
                        <tr>
                            <td colspan="2">@Model.MonthMinus2</td>
                        </tr>
                        <tr>
                            <td width="50%">Improved</td>
                            <td width="50%">Follow-Up</td>
                        </tr>
                    </table>
                </th>

        </thead>
        <tbody>
            @foreach (var s in Model.Statistic)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.ThisMonthImproved</td>
                    <td>@s.ThisMonthFollowup</td>
                    <td>@s.ThisMonthMinus1Improved</td>
                    <td>@s.ThisMonthMinus1Followup</td>
                    <td>@s.ThisMonthMinus2Improved</td>
                    <td>@s.ThisMonthMinus2Followup</td>
                </tr>
            }
        </tbody>
    </table>
</div>
